.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* ou flex-flow: column wrap*/
}